.vscode
.idea*
*.pyc
.DS_Store
**.log
pretrained/
.pytest*
.venv*
.coverage
.tox
test_data/
download_glue_data.py
data/
output/
**/**.whl
**/**.tar.gz
tools/docker/models*
.ipynb_checkpoints
nc_workspace
benchmarks/horovod
cloud_data_connector/credentials.json
**/poetry.lock
.pre-commit-config.yaml
