# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo,
# but PR owner should be able to assign other contributors when appropriate
* @claynerobison @Mahathi-Vatsal @jitendra42 @sramakintel
