# Python dependencies required for development
astunparse
expecttest
future
numpy
psutil
pyyaml
requests
setuptools
six
types-dataclasses
typing_extensions
dataclasses; python_version<"3.7"
transformers>=4.31.0
tensorboardX
absl-py
h5py
nltk
diffusers
einops==0.8.0
