# Python dependencies required for development
absl-py
astunparse
dataclasses; python_version<"3.7"
expecttest
future
h5py
nltk
numpy
psutil
pyyaml
requests
setuptools
six
tensorboardX
transformers
types-dataclasses
typing_extensions
