# removed neural-compressor to avoid vulnerability in Snyk scans
intel-tensorflow # upgraded to latest to avoid vulnerability
ipykernel
matplotlib
notebook
runipy
wheel==0.38.0 # Included this to avoid a vulnerability
