intel_extension_for_pytorch==1.12.100
ipywidgets==8.0.2
matplotlib==3.6.1
matplotlib-inline==0.1.6
notebook==6.5.1
numpy==1.23.4
opencv-python==4.6.0.66
pandas==1.5.1
Pillow==9.2.0
psutil==5.9.3
pycocotools==2.0.5
tensorflow-addons==0.18.0
torchvision==0.13.1
tqdm==4.64.1
urllib3==1.26.12
