intel-extension-for-pytorch==1.13.0 # fixed for Snyk scans to avoid vulnerability
ipython==8.10.0 # fixed for Snyk scans to avoid vulnerability
ipython-genutils==0.2.0
ipywidgets==7.6.5
matplotlib==3.5.1
matplotlib-inline==0.1.3
notebook==6.5.1
numpy==1.22.1
pandas==1.4.2
Pillow>=9.3.0
psutil==5.9.0
torch==1.13.1 # fixed for Snyk scans to avoid vulnerability
torchvision==0.14.1 # fixed for Snyk scans to avoid vulnerability
urllib3==1.26.8
