# Python dependencies required for development
SimpleITK
absl-py
astunparse
batchgenerators>=0.20.0
dataclasses; python_version<"3.7"
expecttest
future
gdown
medpy
numpy
pandas
psutil
pyyaml
requests
scikit-learn>=1.5.0
scipy==1.10.0
setuptools
six
tensorboard
tensorboardX
tensorflow-cpu
transformers
types-dataclasses
typing_extensions
wheel==0.38.0 # upgraded to avoid a vulnerability
